:root {
  font-size: 16px;
}
@media (max-width: 767px) {
  :root {
    font-size: calc(8px + 13.6 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  :root {
    font-size: calc(8px + 8 * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  :root {
    font-size: 16px;
  }
}
@media (min-width: 1920px) and (max-width: 767px) {
  :root {
    font-size: calc(16px + 0 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 1920px) and (min-width: 767px) {
  :root {
    font-size: calc(16px + 0 * (100vw / 1920));
  }
}
body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Forum", cursive;
  background: #3B181E;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

@keyframes seeMore {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}
button {
  cursor: pointer;
  padding: 19px 30px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 109%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.5s;
}

button:hover {
  background-color: white;
  color: #3B181E;
}

header {
  padding: 0 0 3.4482758621vh 0;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../img/fon.png") top/cover no-repeat;
  background-attachment: fixed;
}
header .header__body__container .head__menu {
  padding: 5.7471264368vh 2.0833333333vw 0 2.0833333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__body__container .head__menu .logo img {
  width: 100%;
}
header .header__body__container .head__menu nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  margin: 0;
  padding: 0;
}
header .header__body__container .head__menu nav ul li {
  list-style: none;
}
header .header__body__container .head__menu nav ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
header .header__body__container .head__menu .number {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
header .header__body__container .head__text {
  margin: 21.724137931vh 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header__body__container .head__text h1 {
  margin: 0 0 9.1954022989vh 0;
  font-style: normal;
  font-weight: 400;
  font-size: 7.5rem;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
}
header .header__body__container .btms {
  padding: 0 2.0833333333vw 5.1724137931vh 2.0833333333vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header .header__body__container .btms .messengers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.7586206897vh;
}
header .header__body__container .btms .word {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
header .header__body__container .btms .word img {
  width: 13px;
  height: 13px;
}
header .header__body__container .btms .word .text {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  writing-mode: vertical-rl;
}

main {
  padding: 21.3793103448vh 0 0 0;
  position: relative;
  z-index: 1;
}
main .main__shell {
  position: absolute;
  z-index: 0;
  top: 21.6091954023vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 13.75rem;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.03;
}
main .main__body {
  position: relative;
  z-index: 1;
}
main .main__body__container h2 {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
main .main__body__container .border__shell {
  margin: 13px 0 0 0;
  display: flex;
  justify-content: center;
}
main .main__body__container .border__shell .borderLine {
  border-top: 1.5px solid white;
  width: 85px;
}
main .main__body__container .products {
  max-width: 78.125vw;
  margin: 10.8045977011vh auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
main .main__body__container .products .product {
  gap: 1.5625vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main__body__container .products .product .block {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.1494252874vh 0.5208333333vw;
}
main .main__body__container .products .product .block .part1 {
  width: 17.1875vw;
  height: 25.632183908vh;
  background: url("../img/01.png") top/cover rgba(0, 0, 0, 0.7) no-repeat;
}
main .main__body__container .products .product .block .part5 {
  width: 17.1875vw;
  height: 28.1609195402vh;
  background: url("../img/05.png") top/cover rgba(0, 0, 0, 0.7) no-repeat;
}
main .main__body__container .products .product .block .part2 {
  width: 17.1875vw;
  height: 70.1149425287vh;
  background: url("../img/02.png") top/cover rgba(0, 0, 0, 0.7) no-repeat;
}
main .main__body__container .products .product .block .part3 {
  width: 17.1875vw;
  height: 42.5287356322vh;
  background: url("../img/03.png") top/cover rgba(0, 0, 0, 0.7) no-repeat;
}
main .main__body__container .products .product .block .part6 {
  width: 17.1875vw;
  height: 16.7816091954vh;
  background: url("../img/06.png") top/cover rgba(0, 0, 0, 0.7) no-repeat;
}
main .main__body__container .products .product .block .part4 {
  width: 17.1875vw;
  height: 16.8965517241vh;
  background: url("../img/04.png") top/cover rgba(0, 0, 0, 0.7) no-repeat;
}
main .main__body__container .products .product .block .part7 {
  width: 17.1875vw;
  height: 42.5287356322vh;
  background: url("../img/07.png") top/cover rgba(0, 0, 0, 0.7) no-repeat;
}
main .main__body__container .products .product .block .imeg .numberImg {
  padding: 4.5977011494vh 0 0 1.1979166667vw;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 110%;
  text-transform: uppercase;
  color: #FFFFFF;
}
main .main__body__container .products .product .block .imeg .numberImg::after {
  padding-left: 11px;
  content: "________";
}
main .main__body__container .products .product .block h4 {
  max-width: 15.1041666667vw;
  margin: 2.2988505747vh 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 170%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.9;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 2s;
}
main .main__body__container .products .product .block h4:hover {
  background-size: 100% 2px;
}
main .main__body__container .products .product .block small {
  display: inline-block;
  margin: 3.2183908046vh 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
}
main .main__body__container .proposal {
  padding: 0 15px;
  max-width: 1200px;
  margin: 29.3103448276vh auto 0 auto;
  display: grid;
  gap: 1%;
  grid-template-columns: 49% 49%;
}
main .main__body__container .proposal__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35.2083333333vw;
  height: 47.1264367816vh;
  position: relative;
  top: 0;
  left: 0;
}
main .main__body__container .proposal__text h3 {
  margin: 0 0 3.5632183908vh 0;
  font-style: normal;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 110%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
}
main .main__body__container .proposal__text .borderBlock {
  border-top: 2px solid white;
  width: 4.4791666667vw;
}
main .main__body__container .proposal__text p {
  max-width: 20.8333333333vw;
  margin: 2.8735632184vh 0 3.5632183908vh 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125;
  line-height: 170%;
  color: #FFFFFF;
}
main .main__body__container .proposal__text .proposal__btm {
  max-width: 260px;
}
main .main__body__container .proposal__img {
  width: 36.3020833333vw;
  height: 47.1264367816vh;
  position: relative;
  display: block;
}
main .main__body__container .proposal__img__one {
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  top: -22px;
  left: -27px;
  width: 36.3020833333vw;
  height: 47.1264367816vh;
  position: absolute;
  z-index: 1;
}
main .main__body__container .proposal__img img {
  width: 100%;
}
main .main__body__container .proposal__img .borderImgall {
  display: block;
  width: 36.3020833333vw;
  height: 47.1264367816vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
main .main__body__container .composition {
  max-width: 83.3333333333vw;
  margin: 29.4252873563vh auto 28.275862069vh auto;
  display: grid;
  gap: 4.375vw;
  grid-template-columns: 60% 40%;
  justify-content: center;
}
main .main__body__container .composition__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 51.875vw;
  height: 98.275862069vh;
  position: relative;
  top: 0;
  left: 0;
}
main .main__body__container .composition__text h3 {
  margin: 0 0 31px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 110%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
}
main .main__body__container .composition__text .borderBlock {
  border-top: 2px solid white;
  width: 4.4791666667vw;
}
main .main__body__container .composition__text p {
  max-width: 33.8541666667vw;
  margin: 25px 0 31px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 170%;
  color: #FFFFFF;
}
main .main__body__container .composition__text .composition__btm {
  max-width: 13.5416666667vw;
}
main .main__body__container .composition__text .comprsition__slider {
  margin: 11.4942528736vh 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.1979166667vw;
}
main .main__body__container .composition__text .comprsition__slider img {
  width: 6.40625vw;
}
main .main__body__container .composition__img {
  max-width: 51.875vw;
  max-height: 92.0689655172vh;
  position: relative;
  display: block;
}
main .main__body__container .composition__img__one {
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  top: -22px;
  left: -27px;
  width: 36.3020833333vw;
  height: 47.1264367816vh;
  position: absolute;
  z-index: 1;
}
main .main__body__container .composition__img img {
  max-width: 52.0833333333vw;
  max-height: 98.275862069vh;
}
main .main__body__container .composition__img .borderImgall {
  width: 51.875vw;
  height: 92.0689655172vh;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
main .main__body__container .gifts {
  max-width: 62.5vw;
  margin: 6.8965517241vh auto 31.1494252874vh auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main .main__body__container .gifts .card:hover {
  transform: rotateZ(10deg);
}
main .main__body__container .gifts .card {
  transition: 2s;
  width: 18.125vw;
  height: 66.2068965517vh;
  background: #281014;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0px 0px;
}
main .main__body__container .gifts .card__name {
  height: 25.1724137931vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0A0A0E;
  border-radius: 10px;
}
main .main__body__container .gifts .card__name .usor__up {
  width: 6.3541666667vw;
  position: absolute;
  top: 5px;
  left: 5px;
}
main .main__body__container .gifts .card__name .usor__down {
  width: 6.3541666667vw;
  transform: rotate(180deg);
  position: absolute;
  bottom: 5px;
  right: 5px;
}
main .main__body__container .gifts .card__name .price {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2125rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
main .main__body__container .gifts .card__name .number {
  position: absolute;
  top: 5px;
  right: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2125rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
main .main__body__container .gifts .card__discription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .main__body__container .gifts .card__discription p {
  max-width: 14.21875vw;
  margin: 11.3793103448vh 0 3.1034482759vh 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
main .main__body__container .gifts .card__discription img {
  width: 100%;
  margin: 0 0 2.2988505747vh 0;
}
main .main__body__container .suppliers {
  max-width: 1200px;
  max-width: 62.5vw;
  margin: 3.5416666667vw auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.7708333333vw 3.908045977vh;
}
main .main__body__container .suppliers .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .main__body__container .suppliers .cards:nth-child(1n) img {
  width: 19.2708333333vw;
  height: 14.0229885057vh;
}
main .main__body__container .suppliers .cards:nth-child(2n) img {
  width: 29.7395833333vw;
  height: 21.8390804598vh;
}
main .main__body__container .suppliers .cards:nth-child(3n) img {
  width: 13.9583333333vw;
  height: 10.3448275862vh;
}

#grayCard {
  background-color: #262835;
}

#grayXZ {
  background-color: #101116;
}

footer {
  margin: 196px 0 64px 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
footer .footer__body__container .foot__border {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
footer .footer__body__container nav {
  margin: 21px 0 30px 0;
}
footer .footer__body__container nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
footer .footer__body__container nav ul li {
  list-style: none;
}
footer .footer__body__container nav ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}
footer .footer__body__container .foot__messages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
}/*# sourceMappingURL=style.css.map */